alembic
asyncpg
fastapi[all]
fastapi-users[sqlalchemy]
python-dotenv
sqlalchemy
celery
flower
uvicorn
gunicorn

langchain
langchain-community
gigachat
tiktoken
orjson
beautifulsoup4
async-timeout
sentence_transformers